// 
//  styles for the alphabet soup
//  
//  @author Alexander Nickel <mr.alexander.nickel@gmail.com>
//  @date 2013-05-09T15:34:39Z
//
#alphabet-soup {
  height: 200px;
  width: 400px;
  background: black;
}