// 
//  styles for the alphabet soup
//  
//  @author Alexander Nickel <mr.alexander.nickel@gmail.com>
//  @date 2013-05-09T15:34:39Z
//
#alphabet-soup {
  height: 200px;
  width: 100%;
  background: black;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
}

span[class="ease*"] {
  position: absolute;
  
  &.top-left {
    top: -100px;
    left: -100px;
  }
  &.top {
    top: -100px;
    left: 50%;
  }
  &.top-right {
    top: -100px;
    right: -100px;
  }
  &.right {
    top: 50%;
    right: -100px;
  }
  &.bottom-right {
    bottom: -100px;
    right: -100px;
  }
  &.bottom {
    bottom: -100px;
    left: 50%;
  }
  &.bottom-left {
    bottom: -100px;
    left: -100px;
  }
  &.left {
    top: 50%;
    left: -100px;
  }
}